In [1]:
import pandas as pd
import numpy as np

## Reding JSON to CSV

In [2]:
data='{"employee_name": "James","email": "james@gmail.com", "job_profile": [{"title1":"Team Lead","title2":"Sr.Developer"}]}'
pd.read_json(data)

C:\Users\Avantika Bisht\AppData\Local\Temp\ipykernel_17260\3339237405.py:2: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  pd.read_json(data)

,employee_name,email,job_profile
0,James,james@gmail.com,"{'title1': 'Team Lead', 'title2': 'Sr.Developer'}"

In [3]:
df=pd.read_csv('Test.csv')

In [4]:
df.head()

   Unnamed: 0 col1  col3
0           0    x     1
1           1    a     2
2           2    c     3

In [5]:
df.to_json(orient="records")

'[{"Unnamed: 0":0,"col1":"x","col3":1},{"Unnamed: 0":1,"col1":"a","col3":2},{"Unnamed: 0":2,"col1":"c","col3":3}]'

## Reading HTML content

In [6]:
#pip install html5lib

In [7]:
#pip install beautifulsoup4

In [8]:
#url='https://www.fdic.gov/bank/individual/failed/banklist.html'
#dfs=pd.read_html(url)

#dfs=pd.read_html(url,match="column_name",header=0)

## READ Excel Files

In [9]:
pip install pyxlsb

Requirement already satisfied: pyxlsb in c:\users\avantika bisht\appdata\local\programs\python\python312\lib\site-packages (1.0.10)
Note: you may need to restart the kernel to use updated packages.

In [10]:
df_excel = pd.read_excel(r'C:\Users\Avantika Bisht\OneDrive\Desktop\Project\p2\True.xlsb')

In [11]:
df_excel.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

## Pickling
using pikle fromat we can save the data structure to disk

In [12]:
df_excel.to_pickle('df_excel')

In [14]:
df=pd.read_pickle('df_excel')

In [15]:
df.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"